@import "bootstrap";

@only-xs:  ~"(max-width: @{screen-xs-max})";
@from-sm:  ~"(min-width: @{screen-sm-min})";

body {
    background-color: '#CCC';
    padding-top: @navbar-height;
}

.navbar {
    background: url(/images/orion-nebula-space-galaxy.jpg);
    background-size: cover;

    div.navbar-header {
        float: left;
    }

    a, a.navbar-brand {

        color: #FFF;
        padding: 15px;
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        height: 50px;

        text-decoration: none;
        text-shadow: #000 0 0 1px;

        &:hover {
            background: rgba( 100, 100, 100, 0.7 );
        }
    }

    ul {
        margin: 0;
        li {
            display: inline;
        }
    }
}

h2 > .glyphicon {
    font-size: 80%;
}

#logout {
}

footer {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px solid #CCC;
}

form.deleteWrapper {
    position: relative;

    @button-height: @padding-base-vertical * 2 + @font-size-base * @line-height-base + 1;

    border: none;

    position: relative;
    top: -@button-height;
    margin-bottom: -@button-height;
}

form.form-inline {
    display: inline;
}

.glyph-primary  { color: @brand-primary; }
.glyph-info     { color: lighten(@brand-primary, 10%); }
.glyph-danger   { color: @state-danger-bg; }

div.separator {
    border-top: 1px solid @input-border;
    text-align: center;

    margin-top: 30px;

    span {
        font-size: 14px;
        position: relative;
        top: -11px;
        color: @gray-light;
        background-color: #FFF;
        padding: 0 0.5em;
    }
}

/* crud */
.crud-loading {
    padding-top: @grid-gutter-width/4;
    span {  display: none;   }

    &.loading {
        span    { display: inline-block;    }
        button  { display: none;            }
    }
}

.crud-pages {
    a.active {
        color: @text-color;
        border-radius: 2px;
        padding: 1px 2px;
        border: 1px solid @text-color;

        .glyphicon { padding: 0; }
    }

    .glyphicon {
        padding-right: 5px;
    }
}

/* files */
ul.filetree {
    padding-left: 0;
    list-style: none;

    form.form-inline {
        float: right;
    }

    ul {
        list-style: none;
    }


    li {
        padding: 3px 0px 3px 5px; 
        border-radius: 3px;

        form {
            visibility: hidden;
        }
        &:hover > form {
            visibility: visible;
        }

        &.directory:hover {
            background: #EEE;
        }
        &.file:hover {
            background: #DDD;
        }
    }

    & > li  {
        padding-right: 5px;
    }
}

/* quick fix for xs input in filetrees */
.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.file-container {
    .clearfix();
}

.file-container .file {
    float: left;
    display: block;
    min-height: 128px;
    width: 192px;

    margin: 5px 10px;

    border-radius: 5px;
    padding: 5px;

    border: 1px solid #CCC;

    .file-type {
        display: block;
        border-radius: 3px;
        background-color: #EEE;

        min-height: 140px;

        text-align: center;
        vertical-align: center;
        line-height: 128px;
        font-size: 64px;

        padding: 5px;
        border: 1px solid #CCC;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .file-label {
        margin-top: 5px;
        display: block;
        text-align: center;
        min-height: 3em;
    }

    form, .download {
        margin: 5px;
        display: none;
        position: relative;
        width: 23px;
    }

    form {
        float: right;
        margin-left: -23px;
    }

    .download {
        float: left;
        margin-right: -23px;
    }

    &:hover form,
    &:hover .download {
        display: block;
    }
}

.file-upload {
    background-color: lighten(@brand-primary, 40%);
    outline: 2px dashed #888;
    outline-offset: -10px;

    border-radius: 3px;

    padding: 50px 20px;

    text-align: center;

    display: block;
    input {
        margin: 0 auto;
    }

    .status {
        display: none;
    }

    .fa {
        display: block;
        margin-bottom: 10px;
    }

    .choose {
        cursor: pointer;
    }

    .drag-n-drop {
        display: none;
        font-weight: normal;
    }

    &.drag-n-drop {
        .drag-n-drop {
            display: inline;
        }

        &.is-dragover {
            background-color: lighten(@brand-primary, 50%);
        }
        input, button {
            display: none;
        }
    }

    &.is-uploading {
        div.file-input {
            visibility: none;
        }
        .status.uploading {
            display: block;
        }
    }
}

#editor-wrapper {
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;

    textarea#editor-textarea {
        min-height: 500px;
    }
}

/* make sure datepicker is above ace-editor */
.hasDatepicker {
    position: relative;
    z-index: 3;
}
