doctype html
include ../mixins
include ../crud
+script('/js/jquery.min.js')
+script('/js/jquery-ui.min.js')
+script('/js/jquery-ui-timepicker-addon.js')
+script('/js/datepicker-de-AT.js')
+script('/js/bootstrap.min.js')
+script('/js/underscore-min.js')
+script('/js/async.js')

mixin menuItem( link, icon, text )
    li
        a(href="/admin/#{link}")
            +glyph(icon)
            span.hidden-xs
                | 
                = text

html(lang=__('current-locale'))
    head
        title admin - kern.js
        meta(name="viewport",content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width")
        block meta-author
            meta(name="author",content="Gerald Wodni")
        link(rel="stylesheet", type="text/css" href="/css/admin.css")
        +style("/css/jquery-ui-smoothness.min.css")
        +style('/css/jquery-ui-timepicker-addon.css')
        +style("/css/fullcalendar.css")
        +style("/css/admin.css")
        +style("/css/admin-site.css")
        block styles
            +styles()
        //each style in styles || []
        //    link(rel="stylesheet", type="text/css" href=style)
    body
        div.navbar.navbar-fixed-top(role='navigation')
            div.navbar-header
                a.navbar-brand(href="/")
                    block brand-name
                        | kern.js
            ul
                each menuItem in menu || []
                    +menuItem( menuItem.link, menuItem.glyph, menuItem.name )

        block main-content
            div.container.main-content
                block content

        footer
            div.container
                div.row
                    div.col-xs-4
                        a(href='https://github.com/GeraldWodni/kern.js')
                            span.visible-xs
                                = os.hostname()
                            span.hidden-xs
                                | kern.js
                        span.hidden-xs
                            |  on 
                            = os.hostname()
                    div.col-xs-8.text-right
                        block copyright
                            | ©copyright 
                            span.hidden-xs
                                | 2014-2015 by 
                            a(href='http://wodni.at') Gerald Wodni

        +script('/js/admin.js')
        +scripts
        block scripts
