doctype html
include ../mixins
+script('/js/jquery.min.js')

mixin menuItem( link, icon, text )
    li
        a(href="/admin/#{link}")
            +glyph(icon)
            span.hidden-xs
                | 
                = text

html
    head
        title admin - kern.js
        link(rel="stylesheet", type="text/css" href="/css/admin.css")
        each style in styles || []
            link(rel="stylesheet", type="text/css" href=style)
    body
        div.navbar.navbar-fixed-top(role='navigation')
            div.container
                div.navbar-header
                    a.navbar-brand(href="/")
                        | kern.js
                ul
                    each menuItem in menu || []
                        +menuItem( menuItem.link, menuItem.glyph, menuItem.name )

        div.container.main-content
            block content

        footer
            div.container
                div.row
                    div.col-xs-4
                        a(href='https://github.com/GeraldWodni/kern.js') kern.js
                    div.col-xs-8.text-right
                        | ©copyright 2014 by 
                        a(href='http://wodni.at') Gerald Wodni

        +script('/js/bootstrap.min.js')
        +scripts
