extends admin-site

include ../fileMixins

block main-content
    div.container-fluid.main-content#media-wrapper
        block content
            .row
                .col-lg-3.col-md-5
                    h1= __("Media")
                    +dirTree( tree )

                if showFiles || true
                    div.col-lg-9.col-md-7
                        +messages( messages )
                        h2= __("Content of")
                            |  
                            = currentPath
                        +fileUpload
                        .file-container
                            each file in currentFiles
                                +file( file )

    +modal("newFolderModal", __("New folder"), __("Create"))
        +text-field("name", __("Name"))

    +modal("uploadModal", __("Upload"), __("Upload"))
        input(type="file",name="file",multiple="multiple")

    div.hidden#directoryTemplate
        +directory({dirs:[],files:[],prefix:"{prefix}"},"{name}")
        
append scripts
    +script-tag("/js/media.js")
