extends admin-site

block content
    if members.length > 0
        - var text = members[0];
        h1
            = members.length
            | 
            = __('Missing Locales')

        form(method='post',role='form')
            +hidden-field( 'key', text )
            each locale in locales
                if( locale.indexOf( "en-" ) == 0 )
                    +text-field( "text[" + locale + "]", "[" + locale + "] " + text, text )
                else
                    +text-field( "text[" + locale + "]", "[" + locale + "] " + text)
            +enum-field( "targetWebsite", __("Target website"), websites )

            button.btn.btn-primary(type='submit',name='next',value='next')= __('Next')
            button.btn.btn-danger.pull-right(type="submit",name="reset",value="reset")=__("Delete pending items")
    else
        h1= __('No missing Locales')
        


