extends admin

block content
    h1 Navigation

    div.row
        div.col-sm-4
            div
                | Display Tree
        div.col-sm-8
            form(method='post',role='form')
                +text-field("name", __("Name"))
                +text-field("link", __("Link"))
                +enum-field("type", __("Type"), {text: __("Text"), view: "View", function: __("Function") })
                button.btn.btn-default(type='submit',name='add',value='yes')= __("Add")



